+++
title = "Australian Imaging Service"
linkTitle = "Australian Imaging Service"
headless = true

+++

{{< blocks/cover title="Australian Imaging Service" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/user_docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Australian-Imaging-Service/charts">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
		<!-- Porridge temperature assessment - in the cloud! -->
	</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
As part of the ARDC 2019 Project's scheme, we are building a distributed, national federation for securely managing and
analyzing imaging data for research, with a focus on radiology and biomedical applications.
{{% /blocks/lead %}}

<!-- {{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}} -->


{{< blocks/section color="white" >}}
<div class="col">
<h1 class="text-center">Project</h1>
</div>

<div>
	<p>
		
	</p>

	<p>
		Universities and clinical sites across Australia are struggling to manage large volumes of imaging data, while balancing
		patient privacy and the need for sharing and accessibility in the research community. The Australian Imaging Service
		will transform the imaging and radiology sector by leveraging institutional investments and providing enhanced data
		management and analysis. The distributed federation will consist of multiple institutional deployments linked with a
		federated search layer, common community practice, support for expanded data types and a Trusted Tool Repository
		ensuring ongoing ownership and accountability of data.
	</p>

	<h3>Members</h3>

	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
			<!-- University of Sydney -->
			<div class="col logo">{{< logo "USydLogo" Fit "512x512" />}}</div>
			
			<!-- Australian Research Data Commons -->
			<div class="col logo">{{< logo "ARDC_logo_RGB" Fit "512x512" />}}</div>
			
			<!-- National Imaging Facilities -->
			<div class="col logo">{{< logo "nif-logo-landscape-reversed-transparent" Fit "512x512" />}}</div>
			
			<!-- NeuRA -->
			<div class="col logo">{{< logo "NeuRA_Logo" Fit "512x512" />}}</div>

			<!-- Australian Catholic University -->
			<!-- <div class="col logo">{{< logo "ACU_MASTERBRAND_POS_RGB" Fit "512x512" />}}</div> -->
			
			<!-- Macquarie University -->
			<div class="col logo">{{< logo "MQ_INT_VER_RGB_POS" Fit "512x512" />}}</div>
			
			<!-- Monash University -->
			<!-- <div class="col logo">Monash University</div> -->
			
			<!-- Queensland University of Technology -->
			<div class="col logo">{{< logo "qut-logo-og-1200" Fit "512x512" />}}</div>
			
			<!-- University of New South Wales -->
			<div class="col logo">{{< logo "UNSW_Portrait" Fit "512x512" />}}</div>
			
			<!-- University of Queensland -->
			<div class="col logo">{{< logo "UQlogo-Purple-rgb" Fit "512x512" />}}</div>
			
			<!-- University of Swinburne -->
			<div class="col logo">{{< logo "swinburne-logo" Fit "512x512" />}}</div>
			
			<!-- University of Western Australia -->
			<div class="col logo">{{< logo "logo-uwa-horz-full-blue" Fit "512x512" />}}</div>
			
			<!-- The Florey -->
			<div class="col logo">{{< logo "Florey_Logo_2931x1131_940_363" Fit "512x512" />}}</div>
			
			<!-- South Australian Health and Medical Research Institute (SAHMRI) -->
			<div class="col logo">{{< logo "sahmri-logo-colour" Fit "512x512" />}}</div>
		</div>
	</div>

	<!-- <ul>
		<li>University of Sydney,</li>
		<li>Australian Research Data Commons,</li>
		<li>National Imaging Facilities,</li>
		<li>Australian Catholic University</li>
		<li>Macquarie University,</li>
		<li>Monash University,</li>
		<li>Queensland University of Technology,</li>
		<li>University of New South Wales,</li>
		<li>University of Queensland,</li>
		<li>University of Swinburne,</li>
		<li>University of Western Australia,</li>
		<li>University of Wollongong,</li>
		<li>The Florey,</li>
		<li>South Australian Health and Medical Research Institute (SAHMRI)</li>
	</ul> -->

	<h3>Documentation and Support</h3>
	
	<ul>
		<li><a href="{{< relref "docs" >}}">Documentation overview</a></li>
		<li><a href="{{< relref "docs/repositories" >}}">AIS Repositories</a></li>
		<li><a href="{{< relref "user_docs/Getting started" >}}">User Guide</a></li>
	</ul>

	<h3>Supporting Technologies</h3>

	<ul>
		<li>XNAT,</li>
		<li>OHIF,</li>
		<li>REDCap,</li>
		<li>CLARA,</li>
		<li>Gadgetron,</li>
	</ul>
</div>


{{< /blocks/section >}}

<!-- {{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}} -->
