/*

Add styles or override variables from the theme here.

*/

.code-file  { 
    max-width: 80%;
}

.filename {
    padding: 0.4em 0 0.25em 1em !important;
    margin-bottom: -2.75em;
    font-weight: bold;
    
    background-color: lightgray !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.logo-container {
    max-width: 90%;
}

.col.logo {
    min-width: 205px;
}

div.logo {
    .card-img-top {
        height: 12em;
    }

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        padding: 0.75em;
    }
}
